doctype html
html(lang="vi")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Thông tin tài khoản
    link(rel="stylesheet", href="/home/css/index.css")
  body
    header
      .logo
        img(src="/home/images/anhmau.jpg", alt="Logo")
      h1 HỆ THỐNG QUẢN LÝ CƠ SỞ HẠ TẦNG
      div(class="first-contact")
        .support
          span Hỗ trợ trực tuyến 24/7: 
            strong 1800 0036
    nav
      ul
        li
            a(href="/home") Trang chủ
        li
            a(href="/home/issue") Báo cáo sự cố
        li
            a(href="/home/warehouse") Thiết bị bảo trì
        li
            a(href="/home/evaluate") Đánh giá cơ sở vật chất
        li
            a(href="/home/setAccount") Cài đặt tài khoản
    main