extends ../layouts/default.pug

block style
  link(rel="stylesheet", href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css")

block main
  h1 QUAN SÁT CƠ SỞ VẬT CHẤT
  <div id="mapid" style="height: 400px; width: 90%; border: 1px solid black; margin: 20px 20px;"></div>
    
  script(src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js")
  script.
      // Khởi tạo bản đồ sử dụng OpenStreetMap
      var mymap = L.map('mapid').setView([16.0669077, 108.2137987], 19); // Đặt vị trí trung tâm
      
      // Thêm Tile Layer từ OpenStreetMap
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution: 'Map data © <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
          maxZoom: 19
      }).addTo(mymap);

      // Thêm Marker tại vị trí trung tâm
      L.marker([16.0669077, 108.2137987]).addTo(mymap)
          .bindPopup('Đây là vị trí trung tâm.')
          .openPopup();